// Tipografia
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

$principalFont: "Open Sans", serif;

// Colores
$white: #ffffff;
$grey: #e3eef1;
$black: #000000;
$bluePrincipal: #000b30;
$teal: #006669;
$yellow: #efe44e;
$darkYellow: #a59c24;
$babyBlue: #3990c8;
$darkBlue: #194d70;
$boxShadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
